<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubtrending">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".screens.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ghico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ghico"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubTrending"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GithubTrending.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>